.portfoliobox {
    position: relative;
}

.portfolioimg {
    height: 200px;
    width: 200px;
}

.imgbox {
    position: absolute;
    left: 15px;
    top: 150px;
    width: 200px;
    height: 36px;
    text-align: center;
    padding-top: 2px;
    background-color: #4aaaa5;
    color: #ffffff;
}