.articletitle {
    color: #4aaaa5;
    padding: 20px 0px 10px 0px;
    border-bottom: 3px solid #dddddd;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
}

.articlebox {
    background-color: #ffffff;
    padding: 20px 0px 50px 0px;
}

.articlecontent {
    padding-top: 10px;
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.submit {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 8px 32px;
    font-size: 20px;
}

.messagebox {
    height: 300px;
}

.data {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 6px;
    line-height: 2;
    width: 100%;
}